.wrapper {
    width: 100%;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12);
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--2side-padding);
}

.logo {
    cursor: pointer;
}

// options css
.options {
    display: flex;
    align-items: center;
}

.option-menu-btn {
    padding: 5px 15px;
    margin-left: 16px;
    font-size: 2rem;
    cursor: pointer;
    background-color: transparent;
    margin-right: 16px;
}

// user css
.user-avatar {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 16px;
    margin-left: 16px;
    margin-bottom: 2px;
}

// styles css
.margin-top {
    margin-top: 5px;
}
