@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&family=Roboto:wght@300;400;700&display=swap');

:root {
    --primary: #fe2c55;
    --2side-padding: 16px;
    --text-color: #8f8f8f;
    --black: #000;
    --white: #fff;

    // Default layout
    --header-height: 60px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}

input,
button {
    border: none;
    outline: none;
}

a[href] {
    text-decoration: none;
    color: var(--black);
}

// tippy css
.tippy-box {
    border-radius: 8px;
    font-weight: 600;
    font-size: 16px;
    line-height: 20 px;
    background-color: rgba(84, 84, 84, 0.92);
    padding: 2px;
}

// .tippy-box[data-placement^='bottom'] > .tippy-arrow {
//     background-color: rgba(84, 84, 84, 0.92);
// }

.tippy-arrow:before {
    color: rgba(84, 84, 84, 0.92);
}
