.search,
.search-results {
    width: 500px;
}

.search {
    --icons-color: #b5b5b5;
    --search-btn-width: 52px;
    --search-height: 46px;
    --up-down-space: 7px;

    display: flex;
    height: var(--search-height);
    background-color: rgba(22, 24, 35, 0.06);
    border-radius: 92px;
    padding-left: 15px;
    position: relative;
    border: 1px solid transparent;

    input {
        padding: 12px 0;
        flex: 1;
        background-color: transparent;
        caret-color: var(--primary);
        font-size: 1.6rem;
        padding-right: 40px;
    }

    &::after {
        content: '';
        display: block;
        width: 2px;
        height: calc(var(--search-height) - calc(var(--up-down-space) * 2));
        position: absolute;
        right: var(--search-btn-width);
        top: var(--up-down-space);
        background-color: var(--icons-color);
    }

    &:focus-within,
    &:hover {
        border-color: var(--icons-color);
    }

    &.is-typing .search-btn {
        color: var(--black);
    }

    &:hover .search-btn {
        background-color: rgba(134, 134, 134, 0.163);
        color: var(--black);
    }
}

.clear,
.loading {
    position: absolute;
    right: calc(var(--search-btn-width) + 16px);
    top: 50%;
    transform: translateY(-50%);
    color: var(--icons-color);
}

.loading {
    animation: spinner 0.7s linear infinite;
}

@keyframes spinner {
    from {
        transform: translateY(-50%) rotate(0);
    }
    to {
        transform: translateY(-50%) rotate(360deg);
    }
}

.search-btn {
    width: var(--search-btn-width);
    height: var(--search-height);
    font-size: 2rem;
    border-top-right-radius: 92px;
    border-bottom-right-radius: 92px;
    background-color: transparent;
    color: var(--icons-color);
    cursor: pointer;
}

.search-account-title {
    height: 30px;
    padding: 5px 12px;
    font-size: 1.4rem;
    line-height: 20px;
    font-weight: 600;
    color: rgba(22, 24, 35, 0.5);
}
